*{
	font-family: : Montserrat;
}

img{
	border-radius: 10%;
}

a{
	display: inline;
	margin: 7px;
	color: green;
}
a:hover{
	color: red;
}

footer{
	padding: 3px;
	text-align-last: center;
	background-color: black;
	color: green;
}

input{
	margin: 30px;
	color: green;
	background-color: black;
}

input:hover{
	color: red;
}

h3{
	text-align:center;
}

#Contact{
	text-align:center;
}